
:root{
    --black-color: #000000;
    --white-color: #ffffff;
    --light-color: #949494;
}


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "PT Sans Narrow", sans-serif;
    background-color: #eee;
    font-size: 16px;
}

header {
    background-image: url("img/header-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

/* General styles */ 

.container{
    width: 100%;
    max-width: 1180px;
    margin: auto;
}

.btn{
    padding: 1rem 2.8rem;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: 400;
    background-image: linear-gradient(74deg, #49007c 0%, #e70088 100%);
    display: inline-block;
}

.subtext{
    font-size: 0.9rem;
    font-weight: 300;
}























/* home section */

#homeSection{
    padding-top: 200px; 
}

#homeSection .content{
    text-align: center;
}

#homeSection .content h1{
    font-size: 3rem;  
}

#homeSection .content h2{
    font-size: 1.1rem;
    padding: 0.5rem;
    color: var(--light-color);
}

#homeSection .content .home-btn{
    margin-top: 60px;
    color: var(--white-color);
    text-decoration: none;

}

/* scroll icon */

.icon-scroll-content{
    text-align: center;
}
.icon-scroll-content p{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-color);
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 10%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  background: var(--white-color);
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 14px;
  background: rgb(68, 68, 68);
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

/* navigation */
nav {
    margin-top: 20px;
    height: 60px;
    width: 100%;
    background: transparent;
    color: var(--black-color);
    position: fixed;
}

nav ul {
    padding: 20px;
    margin: 0;
}

nav li {
    border-radius: 18px;
    display: inline;
    float: right;
    transition: .3s ease-in-out;
}

.active {
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.3);   
}

nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 0.9rem 0;
    color: var(--black-color);
    text-decoration: none;
    transition: .3s ease-in-out;
}

nav li:hover {
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.3);
}

nav li:hover a {
    color: var(--white-color);
}

nav a#openup {
    display: none;
}

nav a#logo-start {
    float: left;
    margin-left: 2%;
}

@media screen and (max-width: 720px) {

    nav {
        margin-top: 0;
        height: auto;
        border-bottom: 0;
    }

    nav ul {
        display: none;
        height: auto;
        margin-right: 2%;
    }

    nav li {
        width: 100%;
        float: left;
        position: relative;
    }

    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        background: transparent;
        /* border-bottom: 1px solid #555; */
    }

    /* nav li:hover {
        border: none !important;
    }

    nav a:hover {
        border: none !important;
        background: #444;
    } */

    nav a#openup:after {
        content: "|||";
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 7%;
        top: 50%;
    }

    nav a#openup {
        display: block;
        background-color: transparent;
        width: 100%;
        position: relative;
    }

    nav a#logo-start {
        display: none;
    }

}

@media screen and (max-width: 800px) {
    nav a#logo-start {
        transform: scale(0.7)
    }

    nav ul {
        padding: 10px;
        margin: 0;
    }

}


.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

