:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --light-color: #949494;
}


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "PT Sans Narrow", sans-serif;
    background-color: #eee;
    font-size: 16px;
}

header {
    background-image: url("img/header-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

/* General styles */

.container {
    width: 100%;
    max-width: 1180px;
    margin: auto;
}

.btn {
    padding: 1rem 2.8rem;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: 400;
    background-image: linear-gradient(74deg, #49007c 0%, #e70088 100%);
    display: inline-block;
}

.subtext {
    font-size: 0.9rem;
    font-weight: 300;
}























/* home section */

#homeSection {
    padding-top: 200px;
}

#homeSection .content {
    text-align: center;
}

#homeSection .content h1,
.bestSection .content h1 {
    font-size: 3rem;
}

#homeSection .content h2,
.bestSection .content p {
    font-size: 1.1rem;
    padding: 0.5rem;
    color: var(--light-color);
}

#homeSection .content .home-btn,
.bestSection .content .home-btn,
#whatWeDo .home-btn,
#aboutUs .home-btn {
    margin-top: 60px;
    color: var(--white-color);
    text-decoration: none;

}

.bestSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 520px;
}

.bestSection .best-design-section {
    background-image: url("img/bestDesign.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bestSection .best-code-section {
    background-image: url("img/bestCode.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bestSection .content {
    margin-left: 20%;
    margin-top: 20%;
    padding: 1rem;
    color: white;
}

.bestSection .content p {
    color: white !important;
}

.bestSection .content h1 span {
    font-weight: 100 !important;
}

#whatWeDo {
    padding: 5rem 0;
    text-align: center;
    display: grid;
    grid-gap: 20px;
}

#whatWeDo h1 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

#whatWeDo .showcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

#whatWeDo .showcase .halfShowcase {
    display: flex;
    max-width: 500px;
}

#whatWeDo .showcase .halfShowcase * {
    padding: 0.5rem;
}

#whatWeDo .showcase .halfShowcase .left {
    width: 30%;
}

#whatWeDo .showcase .halfShowcase .left img {
    display: block;
    max-width: 100%;
}

#whatWeDo .showcase .halfShowcase .right {
    width: 70%;
    text-align: left;
}

#whatWeDo .showcase .halfShowcase .right h3 {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
}

#whatWeDo .showcase .halfShowcase .right p {
    line-height: 30px;
    font-size: 0.9rem;
    color: var(--light-color);
}

#portfolio{
    width: 100%;
    height: 350px;
}

#portfolio .content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#portfolio .content .img-p {
    position: relative;
}

#portfolio .content .img-p img {
    max-width: 100%;
    height: auto;
}

#portfolio .content .img-p .hoverImg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: var(--white-color);  
    transition: all 0.3s ease-in-out; 
}

#portfolio .content .img-p .hoverImg h3 {
    font-size: 1.4rem;
    padding: 1rem;
    padding-bottom: 0
}

#portfolio .content .img-p .hoverImg p {
    font-size: 0.9rem;
    padding: 2rem;
    line-height: 30px;
}

#portfolio .content .img-p .hoverImg a {
    width: 25%;
    margin: 0 auto;
}

#portfolio .content .img-p:hover .hoverImg{
    opacity: 1;
    background: rgba(0, 0, 0, 0.7) !important;
}

#aboutUs{
    background-image: url("img/bg-AboutUs.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;   
    text-align: center;
}

#aboutUs .head-content{
    padding: 3rem;
    color: var(--white-color);
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    line-height: 30px
}

#aboutUs .head-content h1{
    font-size: 3rem;
    padding: 2rem;
    color: var(--white-color)
}

#aboutUs .head-content p{
    color: var(--light-color)
}

#aboutUs .body-content{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

#aboutUs .body-content .card img{
    display: block;
    margin: auto;
    padding: 1rem;
}

#aboutUs .body-content .card h3{
    font-size: 1.6rem;
    padding: 1rem;
    color: var(--white-color)
}

#aboutUs .body-content .card p{
    line-height: 30px;
    color: var(--light-color)
}

#aboutUs .home-btn{
    margin-top: 30px;
}

/* scroll icon */

.icon-scroll-content {
    text-align: center;
}

.icon-scroll-content p {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-color);
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    bottom: 10%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    background: var(--white-color);
    border-radius: 25px;
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 14px;
    background: rgb(68, 68, 68);
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}

/* navigation */
nav {
    margin-top: 20px;
    height: 60px;
    width: 100%;
    background: transparent;
    color: var(--black-color);
    position: fixed;
}

nav ul {
    padding: 10px;
    padding-right: 20px;
    margin: 0;
}

nav li {
    border-radius: 18px;
    display: inline;
    float: right;
    transition: .3s ease-in-out;
}

.active {
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 0.9rem 0;
    color: var(--black-color);
    transition: .3s ease-in-out;
}

nav li:hover {
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.3);
}

nav li a {
    font-weight: 700;
}

nav li:hover a {
    color: var(--white-color);
}

nav a#openup {
    display: none;
}

nav a#logo-start {
    font-size: 2.5em;
    float: left;
    margin-left: 2%;
}


.fixed-nav {
    background: rgba(0, 0, 0, 0.8) !important;
    padding: 1.5em 0 !important;
    margin: 0;
    z-index: 100;
}

.fixed-navA {
    color: var(--white-color) !important;
    opacity: 0.9
}

.fixed-li:hover{
    border-radius: 18px;
    background: var(--light-color);
}

.fixed-a {
    color: var(--white-color) !important;
}

@media screen and (max-width: 720px) {

    nav {
        margin-top: 0;
        height: auto;
        border-bottom: 0;
        background: #eee;
        opacity: 0.8;
    }

    nav ul {
        display: none;
        height: auto;
        margin-right: 2%;
    }

    nav li {
        width: 100%;
        float: left;
        position: relative;
    }

    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        /* background: transparent; */
        /* border-bottom: 1px solid #555; */
    }

    /* nav li:hover {
        border: none !important;
    }

    nav a:hover {
        border: none !important;
        background: #444;
    } */

    nav a#openup:after {
        content: "|||";
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 7%;
        top: 50%;
    }

    nav a#openup {
        display: block;
        background-color: transparent;
        width: 100%;
        position: relative;
    }

    nav a#logo-start {
        display: none;
    }

    .active {
        border-radius: 0;
        border: 0;
    }

    nav a#logo-start {
        top: 0;
    }

    .bestSection,
    #whatWeDo .showcase {
        grid-template-columns: 1fr;
    }

    .bestSection .content {
        margin-left: 20%;
        margin-top: 10%;
        padding: 0.8rem;
        color: white;
        padding-bottom: 3rem;
    }

    #whatWeDo .showcase .halfShowcase .left {
        padding-top: 3%
    }

}

@media screen and (max-width: 800px) {

    nav a#logo-start {
        transform: scale(0.7)
    }

    nav ul {
        padding: 10px;
        margin: 0;
    }

    #whatWeDo .showcase .halfShowcase .left {
        padding-top: 10%
    }

}


.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}